<div class="form-container">
  <div class="form-card">
    <div class="form-header">
      <h1 class="form-title"><%= t("todos.edit_todo") %></h1>
      <p class="form-subtitle"><%= t("todos.subtitle") %></p>
    </div>

    <%= render "form", todo: @todo %>
  </div>
</div>