<div class="form-container">
  <div class="form-card">
    <div class="form-header">
      <h1 class="form-title"><%= t("pages.edit_todo") %></h1>
      <p class="form-subtitle">Update your task details</p>
    </div>

    <%= render "form", todo: @todo %>
  </div>
</div>